body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #6f6f6f;
  background-image: linear-gradient(180deg, #6f6f6f 0%, #424242 100%);
  background-attachment: fixed; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 40px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.secondary-text {
  color: rgb(136, 150, 165);
}